{% extends 'base.html.twig' %}

{% block title %}Brand index{% endblock %}

{% block body %}
    <h1 style="display:inline">Brand & Category Modification</h1>
    <a class="btn btn-success" href="{{ path('app_brand_new') }}">Create new Brand</a>
    <br>
    <div class="card-deck">
    {% for brand in brands %}
        <div class="card">
            <div class="card text-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ brand.id }}</h5>
                    <p class="card-text">{{ brand.name }}</p>
                    <a class="btn btn-danger btn-sm">{{ include('brand/_delete_form.html.twig') }}</a>
                    <a class="btn btn-warning btn-lg" href="{{ path('app_brand_edit', {'id': brand.id}) }}">Edit  </a>
                </div>
            </div>
        </div>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
    </div>
{% endblock %}
