{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.image) }}
    {{ form_row(form.quantity) }}
    {{ form_row(form.sold) }}
    {{ form_row(form.price) }}
    {{ form_row(form.statut) }}
    {% if is_granted ('ROLE_ADMIN') %}
    {{ form_row(form.seller) }}
    {% endif %}
    {{ form_row(form.category) }}
    {{ form_row(form.brand)}}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
