{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}

{% block body %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Cart</h5>
    {% for product in products %}
    <div class="row" style="margin-bottom: 10px;">
      <div class="col">
        <img src="{{ product.product.image }}" alt="image" width="100" height="100">
      </div>
      <div class="col">
        <p class="card-text">{{ product.product.name }}</p>
      </div>
      <div class="col">
        <p class="card-text">{{ product.quantity }}</p>
      </div>
            <div class="col">
        <p class="card-text">{{ product.product.price }}</p>
      </div>
    {# <img src="{{ product.product.image }}" alt="image" width="100" height="100">
    <p class="card-text">{{ product.product.name }}</p>
    <p class="card-text">{{ product.product.price }}</p>
    <p class="card-text">{{ product.quantity }}</p> #}
    {% endfor %}
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

{% endblock %}
