{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <div class="show">
  <div class="container">
    <div class="top"><image src="{{ product.image }}" width="120%" height="100%"></div>
    <div class="bottom">
      <div class="left">
        <div class="details">
          <h1>{{ product.name }}</h1>
          <p>{{ product.price }}</p>
        </div>
        <div class="buy"><a href="{{ path('app_product_add', {'id': product.id}) }}"><i class="fa fa-cart-arrow-down"></i></a></div>
      </div>
    </div>
  </div>
  <div class="inside">
    <div class="icon"><i class="fa  fa-info-circle"></i></div>
    <div class="contents">
      <table>
        <tr>
          <th>Excerpt</th>
        </tr>
        <tr>
          <td>{{ product.excerpt }}</td>
        </tr>
        <tr>
          <th>Description</th>
        </tr>
        <tr>
          <td>{{ product.description }}</td>
        </tr>
        <tr>
          <th>Statut</th>
        </tr>
        <tr>
          <td>{{ product.statut }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="text-center">
  <a type="button" class="btn btn-primary me-3Pa" href="/">Back to Shop</a>
</div>
{% endblock %}
