{{ form_start(form) }}
    {{ form_row (form.email) }}
    {{ form_row (form.firstname) }}
    {{ form_row (form.lastname) }}
    {{ form_row (form.phonenumber) }}
    {{ form_row (form.country) }}
    {{ form_row (form.address) }}
    {{ form_row (form.postalcode) }}
    {% if is_granted('ROLE_ADMIN') %}
    {{ form_row (form.roles) }}
    {% endif %}
    {# {{ form_row (form.image) }} #}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
