{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1 style="display:inline">User Admin Interface</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Lastname</th>
                <th>Firstname</th>
                <th>Phonenumber</th>
                <th>Country</th>
                <th>Address</th>
                <th>Postalcode</th>
                <th>Image</th>
                <th>Show</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.phonenumber }}</td>
                <td>{{ user.country }}</td>
                <td>{{ user.address }}</td>
                <td>{{ user.postalcode }}</td>
                <td>{{ user.Image }}</td>
                <td><a class="btn btn-info btn-sm" href="{{ path('app_user_crud_show', {'id': user.id}) }}">Show</a></td>
                <td><a class="btn btn-warning btn-sm" href="{{ path('app_user_crud_edit', {'id': user.id}) }}">Edit</a></td>
                <td>{{ include('user_crud/_delete_form.html.twig') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
